{% extends 'base.html.twig' %}

{% block title %}Hello SalleController!{% endblock %}

{% block body %}

<h1>Liste des salles</h1>
<a href='salle/add' class='btn btn-success'>Ajouter un salle</a>
<table class='table table-hover'>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>capacite</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for salle in salles %}
            <tr>
                <td>{{ salle.id }}</td>
                <td>{{ salle.nom }}</td>
                <td>{{ salle.capacite }}</td>
                <td>
                    <a href="salle/edit/{{salle.id}}" class="btn btn-info">Modifier</a>
                    <a href="salle/delete/{{salle.id}}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}
