{% extends 'base.html.twig' %}

{% block title %}Hello SalleController!{% endblock %}

{% block body %}
{# 
<h1>Liste des salles</h1>
<a href='salle/add' class='btn btn-success'>Ajouter un salle</a>
<table class='table table-hover'>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>capacite</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for salle in salles %}
            <tr>
                <td>{{ salle.id }}</td>
                <td>{{ salle.nom }}</td>
                <td>{{ salle.capacite }}</td>
                <td>
                    <a href="salle/edit/{{salle.id}}" class="btn btn-info">Modifier</a>
                    <a href="salle/delete/{{salle.id}}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table> #}

    
    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">La Liste Des Salles</h5>
             
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                   <th>
                      <b>N°</b>
                    </th>
                    <th>
                      <b>N</b>om
                    </th>
                    <th>Capacite</th>
                   
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                 {% for salle in salles %}
                  <tr>
                  <td>{{salle.id}}</td>
                    <td>{{salle.nom}}</td>
                    <td>{{salle.capacite}}</td>
                    <td>
                        
                         <a href="/salle/delete/{{salle.id}}">Suprimer</a>
                        <a href="/salle/edit/{{salle.id}}">Editer</a>
                    
                    </td>
                   
                  </tr>
                
                 {% endfor %}
                </tbody>
              </table>

              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

<div id='former' style="background: silver; border-radius: 0.5rem; box-shadow: 0 2px 8px rgba(0,0,0,0.05); padding: 2rem; width: 400px; margin: 2rem auto; position: fixed;top:20%;left:70%;  display:{{showForm}}">
    <h1>Modifier la salle : </h1>
  {% if salle is defined and salle is not null %}
    <p>id : {{salle.id}}</p>
    <form method='post' action="/salle/edit/{{salle.id}}">
      <div class='form-group form-group-lg mt-6 col-md-12'>
        <label for='nom'>Nom de la salle</label>
        <input type='text' id='nom' name='nom' class='form-control' required value="{{ salle.nom }}"/>
        <label for='capacite'>Capacité de la salle</label>
        <input type='number' id='capacite' name='capacite' class='form-control' required value="{{ salle.capacite }}"/>
        <input type='submit' value='Enregistrer' class='btn btn-success mt-3'/>
        <a href="/salle" class='btn btn-warning mt-3'>Annuler</a>
      </div>
    </form>
  {% else %}
    <div class="alert alert-warning">Aucune salle sélectionnée pour modification.</div>
  {% endif %}
</div>
{% endblock %}

{% block javascripts %}
    <script>
    function cancel() {
      alert();
        document.getElementById('former').style.display = 'none';
    }
    </script>
{% endblock %}
